body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-11.jpg) -800px -800px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addMegaManButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;*/
  width: 210px;
  height: 200px;
  position:absolute;
  background-position: center;
  background-image: url(http://orig11.deviantart.net/a9ed/f/2013/095/2/3/iaza13057433812500_by_thecrossfollower-d60l0qa.gif);
}
.megaman{
  /*border:10px solid red;*/
  width: 210px;
  height: 200px;
/*  width: auto;
  height: auto;*/
  position:absolute;
  background-position: center;
  background-image: url(https://media.giphy.com/media/66f1yzwMAiPFm/giphy-downsized.gif?response_id=5924c4d5399d0c7d8b9ea6bf);
}
.protoman{
  /*border:10px solid red;*/
  width: 419.048px;
  height: 550px;
/* width: auto;
  height: auto;*/
  background-repeat: no-repeat;
  position:absolute;
  background-position: center;
  background-image: url(https://media.giphy.com/media/QHS8AaF1Afe7K/giphy-downsized.gif?response_id=59250c7702b98cff9b7e69a2);
}
.animate {
    transform:rotate(2160deg);
    transition:all 1s ease-in-out;
}