body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-11.jpg) -800px -800px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addMegaManButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  width: 10px;
  height: 10px;
  position:absolute;
}
.megaman{
  
  border:10px solid red;
  width: 10px;
  height: 10px;
  position:absolute;
  background-image: url('http://img13.deviantart.net/80a7/i/2016/037/e/3/hd_mega_man_sprite_by_justedesserts-d6e7pv3.png');
}
.animate {
    transform:rotate(2160deg) scale(10);
    transition:all 1s ease-in-out;
    color: rgb(66, 173, 77);
}